@model MusicPlanner.Models.NewMonthlyMusic

@{
    ViewBag.Title = "Edit";
}


<style>
    .ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
        color: transparent;
    }

    .ui-datepicker {
        cursor: pointer;
    }

    .text-box textarea {
        max-width: 280px;
        width: 280px;
    }

    .panel {
        margin-top: 50px !important;
    }

    #musicForm {
        margin-left: 50px !important;
    }

    .col-md-3 {
        padding-left: 25px !important;
    }
</style>



<div class="panel panel-primary">
    <div class="panel-heading">Create New Music Listing</div>
    <div class="panel-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal" id="musicForm">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-12" })
                            @Html.TextBoxFor(model => model.Date, "{0:d}", new { @class = "datepicker form-control" })
                            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.churchDay, htmlAttributes: new { @class = "control-label col-md-12" })
                            @Html.EditorFor(model => model.churchDay, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.churchDay, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Opening, htmlAttributes: new { @class = "control-label col-md-12" })
                            @Html.EditorFor(model => model.Opening, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Opening, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.OpeningNumber, htmlAttributes: new { @class = "control-label col-md-12" })
                            @Html.EditorFor(model => model.OpeningNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.OpeningNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Psalm, htmlAttributes: new { @class = "control-label col-md-12" })
                            @Html.EditorFor(model => model.Psalm, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Psalm, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.PsalmNumber, htmlAttributes: new { @class = "control-label col-md-12" })
                            @Html.EditorFor(model => model.PsalmNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PsalmNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Preparation, htmlAttributes: new { @class = "control-label col-md-12" })
                            @Html.EditorFor(model => model.Preparation, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Preparation, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.PreparationNumber, htmlAttributes: new { @class = "control-label col-md-12" })
                            @Html.EditorFor(model => model.PreparationNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PreparationNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Communion, htmlAttributes: new { @class = "control-label col-md-12" })
                            @Html.EditorFor(model => model.Communion, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Communion, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.CommunionNumber, htmlAttributes: new { @class = "control-label col-md-12" })
                            @Html.EditorFor(model => model.CommunionNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.CommunionNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Closing, htmlAttributes: new { @class = "control-label col-md-12" })
                            @Html.EditorFor(model => model.Closing, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Closing, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ClosingNumber, htmlAttributes: new { @class = "control-label col-md-12" })
                            @Html.EditorFor(model => model.ClosingNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClosingNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "control-label col-md-12" })
                            @Html.EditorFor(model => model.Notes, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Notes, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="col-md-3">
                            <input type="submit" value="Create" class="btn btn-default" />
                            <a href="@Url.Action("Index", "MonthlyMusic") " class="btn btn-primary">Back To List</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")

    <script>
        $(function () {
            $(".datepicker").datepicker({
                showButtonPanel: true
            });
        });
    </script>
}
