@{
    ViewBag.Title = "Home Page";
}

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jcarousel")
@Scripts.Render("~/bundles/modernizr")
@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/Content/jcarousel")


<div class="wrapper">
    <div class="jcarousel-wrapper">
        <div class="jcarousel">
            <ul>
                <li style="background: url('~/images/musicbg1.jpg')"></li>
                <li style="background: url(~/images/musicbg2.jpg)"></li>
            </ul>
        </div>
    </div>
</div>
